@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,100);




*, *.after, *:before {
	margin:0;
	padding:0;

	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background:rgb(10,10,10);
	color:white;

	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;

	display:-moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;

	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;

}

#time {	
	margin:auto;

	height:90%;
	width:90%;

	text-align: center;

	padding-bottom:40px;
	font-family: 'Roboto', sans-serif;
	
	font-weight:100;
	
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;

	display:-moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;

	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

#weather {
	border:1px solid red;
}

#text {
	display:inline-block;	
	clear:both;
}

#text.resize {
	opacity:0;
}

.number, .separator {
	display:block;
	float:left;
}

.separator {
	color:white;
	opacity:0.8;
	margin:40px 0;
	position: relative;
	top:-25px;
}
.number {
	-webkit-perspective: 440;
	position: relative;
	margin:40px 5px;
	position: relative;
}

.ready .number .new,
.ready .number .current {
	display:block;
	width:100%;
	height:100%;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-backface-visibility:hidden;
}

.ready .number .new:before,
.ready .number .current:before {
	content:'';
	border-top: 2px solid rgba(0,0,0,1);
	position: absolute;
	width: 100%;
	top:50%;
}

.ready .number .new {
	position: absolute;
	top:0;
	left:0;
	-webkit-transform-origin:center 50%;
}

.ready .number .current {
	position: absolute;
	top:0;
	left:0;
	-webkit-transform-origin:center 50%;
}

@-webkit-keyframes fadeOutCurrent {
	0%{ opacity:1; -webkit-transform: rotateX(0deg); }
	/*50%{ opacity:1; }*/
	100%{ opacity:0; -webkit-transform: rotateX(-179deg);}
}

@-webkit-keyframes fadeInNew{
	0%{ opacity:0; -webkit-transform: rotateX(180deg); }
	/*50%{  opacity:1; }*/
	100%{ opacity:1; -webkit-transform: rotateX(0deg); }
}

.ready .number.changed .current {
	-webkit-animation: fadeOutCurrent 0.95s 0;
}

.ready .number.changed .new {
	-webkit-animation: fadeInNew 0.95s 0;

}

