@import url(http://fonts.googleapis.com/css?family=Roboto:100);

*, *.after, *:before {
	margin:0;
	padding:0;

	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background:black;
	color:white;

	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;

	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;

}

#time {	
	margin:auto;

	height:90%;
	width:90%;

	text-align: center;

	padding-bottom:40px;

	font-family: 'Roboto', sans-serif;
	font-weight:100;
	
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;

	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

#text {
	display:inline-block;	
	clear:both;
}

#text.resize {
	opacity:0;
}

.number, .separator {
	display:block;
	float:left;
}

.separator {
	color:white;
	margin:40px 0;
}
.number {
	-webkit-perspective: 440;
	position: relative;
	margin:40px 5px;
	position: relative;
}
/*
.number::before {
	content:'';
	border-top: 5px solid rgba(0,0,0,1);
	position: absolute;
	width: 100%;
	top:50%;
	z-index: 200;
	left:0;
}
*/
.ready .number .new,
.ready .number .current {
	display:block;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
}

.ready .number .new:before,
.ready .number .new:after,
.ready .number .current:before {
	display: none;
	content: attr(data-number);
	position: absolute;
	left:0;
	height: 50%;
	overflow: hidden;
	-webkit-backface-visibility:hidden;
}

.ready .number .new:before,
.ready .number .new:after,
.ready .number .current,
.ready .number .current:before {
	background: black;
}

.ready .number .new:before {
	height: 50%;
	top:50%;
	line-height: 0;
	-webkit-transform-origin:center top;
}
.ready .number .current:before {
	top:0;
	-webkit-transform-origin:center bottom;
}

@-webkit-keyframes flipTop {
	0%{ -webkit-transform: rotateX(0deg); }
	50%{ -webkit-transform: rotateX(-90deg); }
	100% { -webkit-transform: rotateX(-90deg); }
}

@-webkit-keyframes flipBottom {
	0%{ -webkit-transform: rotateX(90deg); }
	50%{ -webkit-transform: rotateX(90deg); }
	100%{ -webkit-transform: rotateX(0deg);}
}

.ready .number.changed .current:before {
	display: inline-block;
	-webkit-animation: flipTop 0.8s linear;
	z-index: 150;
}
.ready .number.changed .new:before {
	display: inline-block;
	-webkit-animation: flipBottom 0.8s linear;
	z-index: 150;
}
.ready .number.changed .new:after {
	display: inline-block;
}

